
<h1>The Project</h1>
<h3>
Visono aims to provide users with a visual dimension to a traditionally aural experience.
This is done by presenting users with a simple and intuitive user interface,
connecting them directly to our powerful visualization algorithms that will capture
the essence of the user's favorite audio tracks, and transform them into a stunning
display of light, color, and sound.</h3>

<br>
<hr>

<h1>Audience</h1>
<h3>There are countless people across the globe who thoroughly enjoy listening music
but rarely ever get the opportunity to see what they're listening to. Visono is geared
towards anyone who wishes to experience a deep and immersive representation of
their music. With its simple UI and straightforward controls, Visono is a product
that can be used by people of all ages.</h3>
