<div ng-controller="homeCtrl">
  <div ng-file-drop      
     class="drop-box jumbotron text-center green"
     ng-model="files"
     drag-over-class="dragover" ng-multiple="true" allow-dir="true"
     accept=".mp3,.wav,.png">
    
    <h1 class="btn btn-default" ng-file-select ng-model="files" >Select File</h1>
    <br>
    <br>
    <em>OR</em>
    <br>
    <h1>Drag And Drop your file here</h1>
  </div>  
  
  <div class="bg-primary" >
    <button type="button" ng-show="test" class="btn btn-default pull-right" ng-click="changeView()"><h1>Next Page</h1></button>
  </div>
</div>
